optigra-ads-rest-api/src/main/webapp/WEB-INF/wadl/application.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>
<wadl:application 
	xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd">
    
    <wadl:doc title="Optigra Mobile Ads">
       REST API for Optigra Mobile Ads Network
    </wadl:doc>
    <wadl:resources base="/">
        <wadl:resource path="/">
          <wadl:doc title="Description">REST API details and resources links</wadl:doc>
          <wadl:method name="GET" id="apiDetails">
        	<wadl:doc>REST API details</wadl:doc>
        	        <wadl:request>
        	        	<wadl:doc>HTTP Basic Authentication</wadl:doc>
        	        </wadl:request>
        	        <wadl:response status="200">
                        <wadl:doc title="OK" />
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								{"version":"1.0","description":"Optigra Ads REST API","resources":["/advertising","/application"],"uri":"/"}
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:response>
          </wadl:method>
        </wadl:resource>
        <wadl:resource path="application/{applicationId}">
        <wadl:doc title="Description">Application management methods</wadl:doc>
        	<wadl:method name="GET" id="getApplications">
        			<wadl:doc>Get all applications</wadl:doc>
        	        <wadl:request>
                        <wadl:param name="authorization" style="header" type="xs:string" required="true">
                            <wadl:doc>HTTP Basic Authentication</wadl:doc>
                        </wadl:param>
                        <wadl:param name="offset" style="query" type="xs:integer" required="false" default="0">
                            <wadl:doc>start position</wadl:doc>
                        </wadl:param>
                        <wadl:param name="limit" style="query" type="xs:integer" required="false" default="20">
                            <wadl:doc>record max count per page</wadl:doc>
                        </wadl:param>
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								http://optigra-ads.dev.optigra.org/optigra-ads-rest-api/api/application?offset=10&amp;limit=20
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:request>
                    <wadl:response status="200">
                        <wadl:doc title="OK" />
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								{ "count" : 12,
									  "entities" : [ { "applicationId" : "1392644056502",
									        "id" : 40,
									        "name" : "Mario Brothers",
									        "status" : "PENDING",
									        "uri" : "/application/1392644056502",
									        "url" : "vk.com/mario_brothers"
									      },
									      { "applicationId" : "1392644120942",
									        "id" : 41,
									        "name" : "Barchuk fan group",
									        "status" : "PENDING",
									        "uri" : "/application/1392644120942",
									        "url" : "www.vk.com/barchuk_corporation"
									      }
									    ],
									  "limit" : 2,
									  "offset" : 0,
									  "uri" : "/application"
								}
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:response>
        	</wadl:method>
        	<wadl:method name="GET" id="getApplicationDetails">
        			<wadl:doc>Get details about application</wadl:doc>
        	        <wadl:request>
                        <wadl:param name="authorization" style="header" type="xsi:string" required="true">
                            <wadl:doc>HTTP Basic Authentication</wadl:doc>
                        </wadl:param>
                        <wadl:param name="applicationId" style="template" type="xs:string" required="true">
                            <wadl:doc>Application unique identifier</wadl:doc>
                        </wadl:param>
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								http://optigra-ads.dev.optigra.org/optigra-ads-rest-api/api/application/15931b82-8077-4bb9-a2b7-2810e4da00af
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:request>
                    <wadl:response status="200">
                        <wadl:doc title="OK" />
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								{ "applicationId" : "15931b82-8077-4bb9-a2b7-2810e4da00af",
								  "groupId" : "339767",
								  "groupName" : "a1tv",
								  "id" : 116,
								  "imageUrl" : "http://cs417927.vk.me/v417927923/9fde/6uS-xRhAL3A.jpg",
								  "name" : "A-ONE HIP-HOP MUSIC CHANNEL",
								  "status" : "PAID",
								  "uri" : "/application/15931b82-8077-4bb9-a2b7-2810e4da00af",
								  "url" : "http://vk.com/a1tv"
								}
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:response>
        	</wadl:method>	
	        <wadl:method name="POST" id="createApplication">
	        	<wadl:doc>Create application</wadl:doc>
	        	        <wadl:request>
	                        <wadl:param name="authorization" style="header" type="xs:string" required="true">
	                            <wadl:doc>HTTP Basic Authentication</wadl:doc>
	                        </wadl:param>
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
									{ "applicationId" :  "applicationId",
									  "name" : "Application added by Iurii",
									  "status" : "PENDING",
									  "url" : "http://vk.com/group",
									  "groupId" : "12345",
									  "groupName" : "GroupName",
									  "imageUrl" : "image_url"
									}
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:request>
	                    <wadl:response status="200">
	                        <wadl:doc title="OK" />
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
								    {
								       "id": 129,
								       "applicationId": "c6d2fd8c-a06b-45b9-a802-ae9c9e0c8156",
								       "status": "PENDING",
								       "url": "http://vk.com/group",
								       "name": "Application added by Iurii",
								       "groupId": "12345",
								       "groupName": "GroupName",
								       "imageUrl": "image_url",
								       "uri": "/application/c6d2fd8c-a06b-45b9-a802-ae9c9e0c8156"
								    }
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:response>
	        	</wadl:method>
	        	<wadl:method name="PUT" id="updateApplication">
	        		<wadl:doc>Update application's information</wadl:doc>
	        	        <wadl:request>
	                        <wadl:param name="authorization" style="header" type="xs:string" required="true">
	                            <wadl:doc>HTTP Basic Authentication</wadl:doc>
	                        </wadl:param>
	                        <wadl:param name="applicationId" style="template" type="xs:string" required="true">
                            	<wadl:doc>Application unique identifier</wadl:doc>
                        	</wadl:param>
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
									 {
								       "id": 129,
								       "applicationId": "c6d2fd8c-a06b-45b9-a802-ae9c9e0c8156",
								       "status": "PENDING",
								       "url": "http://vk.com/group",
								       "name": "Changed group by IUrii",
								       "groupId": "12345",
								       "groupName": "GroupName",
								       "imageUrl": "image_url"
								    }
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:request>
	                    <wadl:response status="200">
	                        <wadl:doc title="OK" />
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
								    {
								       "type": "INFO",
								       "status": null,
								       "message": "Application Updated"
								    }
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:response>
	        	</wadl:method>
	        	<wadl:method name="DELETE" id="removeApplication">
	        		<wadl:doc>Remove application</wadl:doc>
	        	        <wadl:request>
	                        <wadl:param name="authorization" style="header" type="xs:string" required="true">
	                            <wadl:doc>HTTP Basic Authentication</wadl:doc>
	                        </wadl:param>
	                        <wadl:param name="applicationId" style="template" type="xs:string" required="true">
                            	<wadl:doc>Application unique identifier</wadl:doc>
                        	</wadl:param>
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
									 http://optigra-ads.dev.optigra.org/optigra-ads-rest-api/api/application/c6d2fd8c-a06b-45b9-a802-ae9c9e0c8156
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:request>
	                    <wadl:response status="200">
	                        <wadl:doc title="OK" />
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
	                            	{
								       "type": "INFO",
									   "status": null,
									   "message": "Application deleted"
									}
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:response>
	        	</wadl:method>
        </wadl:resource>
     
        <wadl:resource path="application/{applicationId}/notification">
        <wadl:doc title="Description">Push Notifications for Admins</wadl:doc>
	
	        <wadl:method name="POST" id="sendPushNotification">
	        	<wadl:doc>Send Push Notification</wadl:doc>
	        	        <wadl:request>
	                        <wadl:param name="authorization" style="header" type="xs:string" required="true">
	                            <wadl:doc>HTTP Basic Authentication</wadl:doc>
	                        </wadl:param>
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
									{ "title" :  "Attention",
									  "message" : "Buy apple"
									}
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:request>
	                    <wadl:response status="200">
	                        <wadl:doc title="OK" />
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
									{ "message" : "Messages are going to be sent",
									  "status" : null,
									  "type" : "INFO"
									}
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:response>
	        	</wadl:method>
        </wadl:resource>
        
         <wadl:resource path="device/{deviceId}">
        <wadl:doc title="Description">Device management methods</wadl:doc>
        	<wadl:method name="GET" id="getDeviceById">
        			<wadl:doc>Get device details</wadl:doc>
        	        <wadl:request>
                        <wadl:param name="deviceId" style="template" type="xs:string" required="true">
                            <wadl:doc>Device unique identifier</wadl:doc>
                        </wadl:param>
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								http://optigra-ads.dev.optigra.org/optigra-ads-rest-api/api/device/mydevice1
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:request>
                    <wadl:response status="200">
                        <wadl:doc title="OK" />
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								{
								  "id" : 42,
								  "deviceUid" : "ddd-555",
								  "deviceToken" : "fmmm12345",
								  "uri" : "/device/ddd-555"
								}
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:response>
        	</wadl:method>
	        <wadl:method name="POST" id="createDevice">
	        	<wadl:doc>Create Device</wadl:doc>
	        	        <wadl:request>
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
	                            {
								  "deviceUid" : "ddd-555",
								  "deviceToken" : "fmmm12345"
								}									
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:request>
	                    <wadl:response status="200">
	                        <wadl:doc title="OK" />
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
								    {
									  "id" : 42,
									  "deviceUid" : "ddd-555",
									  "deviceToken" : "fmmm12345",
									  "uri" : "/device/ddd-555"
									}
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:response>
	        	</wadl:method>
	        	<wadl:method name="PUT" id="updateDevice">
	        		<wadl:doc>Update device's information</wadl:doc>
	        	        <wadl:request>
	                        <wadl:param name="deviceId" style="template" type="xs:string" required="true">
                            	<wadl:doc>Device unique identifier</wadl:doc>
                        	</wadl:param>
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
								 	{
									  "deviceToken" : "tytyt"
									}
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:request>
	                    <wadl:response status="200">
	                        <wadl:doc title="OK" />
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
								    {
									  "type" : "INFO",
									  "status" : null,
									  "message" : "Device updated"
									}
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:response>
	        	</wadl:method>
	        	<wadl:method name="DELETE" id="removeDevice">
	        		<wadl:doc>Remove device</wadl:doc>
	        	        <wadl:request>
	                        <wadl:param name="deviceId" style="template" type="xs:integer" required="true">
                            	<wadl:doc>Device unique identifier</wadl:doc>
                        	</wadl:param>
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
									 http://optigra-ads.dev.optigra.org/optigra-ads-rest-api/api/device/ddd-555
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:request>
	                    <wadl:response status="200">
	                        <wadl:doc title="OK" />
	                        <wadl:representation mediaType="application/json">
	                            <wadl:doc>
	                            	{
									  "type" : "INFO",
									  "status" : null,
									  "message" : "Device deleted"
									}
	                            </wadl:doc>
	                        </wadl:representation>
	                    </wadl:response>
	        	</wadl:method>
        </wadl:resource>
        <wadl:resource path="device/{deviceId}/application/{applicationId}">
        	<wadl:method name="GET" id="getDeviceByApplication">
       			<wadl:doc>Get device by application</wadl:doc>
       	        <wadl:request>
                       <wadl:param name="deviceId" style="template" type="xs:string" required="true">
                           <wadl:doc>Device unique identifier</wadl:doc>
                       </wadl:param>
                       <wadl:param name="applicationId" style="template" type="xs:string" required="true">
                           <wadl:doc>Application unique identifier</wadl:doc>
                       </wadl:param>
                       <wadl:representation mediaType="application/json">
                           <wadl:doc>
							http://optigra-ads.dev.optigra.org/optigra-ads-rest-api/api/device/ddd-5551/application/75c68bf0-1f17-453e-bf28-1cc7a22177de
                           </wadl:doc>
                       </wadl:representation>
                   </wadl:request>
                   <wadl:response status="200">
                       <wadl:doc title="OK" />
                       <wadl:representation mediaType="application/json">
                           <wadl:doc>
							{
							  "id" : 42,
							  "deviceUid" : "ddd-555",
							  "deviceToken" : "fmmm12345",
							  "uri" : "/device/ddd-555"
							}
                           </wadl:doc>
                       </wadl:representation>
                   </wadl:response>
       		</wadl:method>
       		<wadl:method name="PUT" id="attachApplicationToDevice">
       			<wadl:doc>Attach application to device</wadl:doc>
       	        <wadl:request>
                       <wadl:param name="deviceId" style="template" type="xs:string" required="true">
                           <wadl:doc>Device unique identifier</wadl:doc>
                       </wadl:param>
                       <wadl:param name="applicationId" style="template" type="xs:string" required="true">
                           <wadl:doc>Application unique identifier</wadl:doc>
                       </wadl:param>
                       <wadl:representation mediaType="application/json">
                           <wadl:doc>
							http://optigra-ads.dev.optigra.org/optigra-ads-rest-api/api/device/ddd-5551/application/75c68bf0-1f17-453e-bf28-1cc7a22177de
                           </wadl:doc>
                       </wadl:representation>
                   </wadl:request>
                   <wadl:response status="200">
                       <wadl:doc title="OK" />
                       <wadl:representation mediaType="application/json">
                           <wadl:doc>
							{
							  "type" : "INFO",
							  "status" : null,
							  "message" : "Application was attached to device"
							}
                           </wadl:doc>
                       </wadl:representation>
                   </wadl:response>
       		</wadl:method>
        </wadl:resource>

     	<wadl:resource path="user">
        <wadl:doc title="Description">User management methods</wadl:doc>
        	<wadl:method name="GET" id="getUsers">
        	<wadl:doc>Get all users</wadl:doc>
        	        <wadl:request>
                        <wadl:param name="authorization" style="header" type="xsi:string" required="true">
                            <wadl:doc>HTTP Basic Authentication</wadl:doc>
                        </wadl:param>
                        <wadl:param name="offset" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:int" required="false" default="0">
                            <wadl:doc>start position</wadl:doc>
                        </wadl:param>
                        <wadl:param name="limit" style="query" type="integer" required="false" default="20">
                            <wadl:doc>record max count per page</wadl:doc>
                        </wadl:param>
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								http://optigra-ads.dev.optigra.org/optigra-ads-rest-api/api/user?offset=10&amp;limit=20
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:request>
                    <wadl:response status="200">
                        <wadl:doc title="OK" />
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								{ "count" : 2,
								  "entities" : [ { "email" : null,
								        "fullName" : null,
								        "id" : 1,
								        "login" : "admin",
								        "role" : "ADMIN",
								        "uri" : "/user/1"
								      },
								      { "email" : "iurii.parfeniuk@gmail.com",
								        "fullName" : "Iurii Parfeniuk",
								        "id" : 2,
								        "login" : "iurii.parfeniuk@gmail.com",
								        "role" : "ADMIN",
								        "uri" : "/user/2"
								      }
								    ],
								  "limit" : 20,
								  "offset" : 0,
								  "uri" : "/user"
								}
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:response>
        	</wadl:method>
        <wadl:method name="POST" id="createUser">
        	<wadl:doc>Create user(Sign Up/Register)</wadl:doc>
        	        <wadl:request>
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								{ "email" : "iurii_parfeniuk@gmail.com",
								  "fullName" : "Iurii Parfeniuk",
								  "login" : "iurii_parfeniuk",
								  "password" : "12345",
								  "role" : "USER"
								}
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:request>
                    <wadl:response status="200">
                        <wadl:doc title="OK" />
                        <wadl:representation mediaType="application/json">
                            <wadl:doc>
								{ "message" : "User successfully created",
								  "status" : null,
								  "type" : "INFO"
								}
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:response>
        	</wadl:method>
        </wadl:resource>
       
        <wadl:resource path="content">
        <wadl:doc title="Description">Content management methods</wadl:doc>
        	<wadl:method name="GET" id="getContent">
        	<wadl:doc>Get content by path</wadl:doc>
        	        <wadl:request>
                        <wadl:param name="authorization" style="header" type="xsi:string" required="true">
                            <wadl:doc>HTTP Basic Authentication</wadl:doc>
                        </wadl:param>
                        <wadl:param name="contentPath" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema" type="xs:string" required="true">
                            <wadl:doc>Content path on Repository</wadl:doc>
                        </wadl:param>
                        <wadl:representation>
                            <wadl:doc>
								http://optigra-ads.dev.optigra.org/optigra-ads-rest-api/api/content?contentPath=/common/myImage.png
                            </wadl:doc>
                        </wadl:representation>
                    </wadl:request>
                    <wadl:response status="200" />
        	</wadl:method>
        <wadl:method name="POST" id="uploadContent">
        	<wadl:doc>Upload content to the repository</wadl:doc>
        	        <wadl:request>
        	         	<wadl:param name="authorization" style="header" type="xsi:string" required="true">
                            <wadl:doc>HTTP Basic Authentication</wadl:doc>
                        </wadl:param>
                        <wadl:param name="file" style="query" type="xs:base64Binary" />
                        <wadl:representation mediaType="multipart/form-data" />
                    </wadl:request>
                    <wadl:response status="200">
                        <wadl:doc title="OK" />
                    </wadl:response>
        	</wadl:method>
        </wadl:resource>
    </wadl:resources>
</wadl:application>